<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.therockmandolinist.workflowfiles</string>
	<key>category</key>
	<string>Mine</string>
	<key>connections</key>
	<dict>
		<key>DFFE9981-AF30-4B14-B118-44C21F1F68B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F05CE51E-CFDF-4927-B2CD-9DBF5C8D79D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>251C7FC4-9040-4CE3-B007-394865A3CC60</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open workflow directory</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D9E73BE1-CB6C-40AB-955E-E5BE0A1421D9</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Browse in Alfred</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9B181D5B-0FCA-4F0D-B4A1-C84031E6A4D8</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Browse data directory in Alfred</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F7175F0E-BC30-4570-8280-9FE503FB85C8</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Browse cache directory in Alfred</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F05CE51E-CFDF-4927-B2CD-9DBF5C8D79D1</key>
		<array/>
		<key>F8DD35A6-32EA-4DAC-B3F9-DEE636243CDE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F05CE51E-CFDF-4927-B2CD-9DBF5C8D79D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>251C7FC4-9040-4CE3-B007-394865A3CC60</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open workflow directory</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D9E73BE1-CB6C-40AB-955E-E5BE0A1421D9</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Browse in Alfred</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9B181D5B-0FCA-4F0D-B4A1-C84031E6A4D8</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Browse data directory in Alfred</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F7175F0E-BC30-4570-8280-9FE503FB85C8</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Browse cache directory in Alfred</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Diego A. Mundo</string>
	<key>description</key>
	<string>Browse workflow files in Alfred or Finder.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Workflow File Browser</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python workflowsearch.py "$1" -a Diego\ A.\ Mundo --pardir='/Users/diego/Library/Application Support/Alfred 3/Alfred.alfredpreferences/workflows/'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>My workflows</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DFFE9981-AF30-4B14-B118-44C21F1F68B2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd "{query}"
clear &amp;&amp; wfname</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>F05CE51E-CFDF-4927-B2CD-9DBF5C8D79D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>251C7FC4-9040-4CE3-B007-394865A3CC60</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>D9E73BE1-CB6C-40AB-955E-E5BE0A1421D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>awf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python workflowsearch.py "{query}" -w --pardir='/Users/diego/Library/Application Support/Alfred 3/Alfred.alfredpreferences/workflows/'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>All workflows</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F8DD35A6-32EA-4DAC-B3F9-DEE636243CDE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>goto=`python getdir.py -d "{query}"`
osascript -e "tell application \"Alfred 3\" to search \"$goto\""</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9B181D5B-0FCA-4F0D-B4A1-C84031E6A4D8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>goto=`python getdir.py -c "{query}"`
osascript -e "tell application \"Alfred 3\" to search \"$goto\""</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F7175F0E-BC30-4570-8280-9FE503FB85C8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>251C7FC4-9040-4CE3-B007-394865A3CC60</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>9B181D5B-0FCA-4F0D-B4A1-C84031E6A4D8</key>
		<dict>
			<key>note</key>
			<string>Browse workflow data folder in Alfred.</string>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>D9E73BE1-CB6C-40AB-955E-E5BE0A1421D9</key>
		<dict>
			<key>note</key>
			<string>Browse workflow directory in Alfred.</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>DFFE9981-AF30-4B14-B118-44C21F1F68B2</key>
		<dict>
			<key>note</key>
			<string>Filter workflows</string>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>F05CE51E-CFDF-4927-B2CD-9DBF5C8D79D1</key>
		<dict>
			<key>note</key>
			<string>Open directory in Terminal.</string>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>F7175F0E-BC30-4570-8280-9FE503FB85C8</key>
		<dict>
			<key>note</key>
			<string>Browse workflow cache in Alfred.</string>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>F8DD35A6-32EA-4DAC-B3F9-DEE636243CDE</key>
		<dict>
			<key>note</key>
			<string>Show all workflows</string>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/therockmandolinist/WorkflowFileBrowser</string>
</dict>
</plist>
